{% load static %}

<div class="gdpr-settings gdpr-settings-sm dark">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 mb-5 text-center">
                <p class="lead mb-0">Nós utilizamos cookies para melhorar sua experiência de navegação e recomendar conteúdo de seu interesse. Leia sobre como fazemos e como você pode controlar clicando em "Opções".</p>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-lg btn-outline-warning gdpr-accept">Aceitar &amp; Fechar</button><br>
                <a href="#gdpr-preferences" class="btn btn-link text-light op-07 mt-2" data-lightbox="inline">Opções</a>
            </div>
        </div>
    </div>
</div>

<!-- GDPR Preferences -->
<div class="mfp-hide" id="gdpr-preferences">
    <div class="block mx-auto bg-white gdpr-cookie-settings" style="max-width: 800px;">
        <div class="p-5" style="max-height: 400px; overflow-y: scroll; -webkit-overflow-scrolling: touch;">
            <h4 class="mb-3">Preferencias de Privacidade</h4>
            <p class="mb-5">When you visit any website, it may store or retrieve information through your browser, usually in the form of cookies. Since we respect your right to privacy, you can choose not to permit data collection from certain types of services. However, not allowing these services may impact your experience.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0 py-4">
                    <div class="row">
                        <div class="col">
                            <div class="toggle mb-0">
                                <div class="toggle-header">
                                    <div class="toggle-icon">
                                        <i class="toggle-closed icon-line-plus"></i>
                                        <i class="toggle-open icon-line-minus"></i>
                                    </div>
                                    <div class="toggle-title">
                                        Política de Privacidade
                                    </div>
                                </div>
                                <div class="toggle-content ps-4">
                                    Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-end">
                            <small><strong>OBRIGATÓRIO</strong></small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0 py-4">
                    <div class="row">
                        <div class="col">
                            <div class="toggle mb-0">
                                <div class="toggle-header">
                                    <div class="toggle-icon">
                                        <i class="toggle-closed icon-line-plus"></i>
                                        <i class="toggle-open icon-line-minus"></i>
                                    </div>
                                    <div class="toggle-title">
                                        Content Delivery Network
                                    </div>
                                </div>
                                <div class="toggle-content ps-4">
                                    Este site da usa Redes de Entrega de Conteúdo (CDNs) para melhorar o desempenho do fornecimento de conteúdo. Os CDNs permitem que bibliotecas JavaScript comuns e tipos de fonte sejam carregados mais rapidamente à medida que os arquivos usados são transferidos de servidores rápidos, locais ou subutilizados. Entre outras coisas, o endereço IP do usuário é transmitido ao provedor de serviços CDN.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-end">
                            <small><strong>OBRIGATÓRIO</strong></small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0 py-4">
                    <div class="row">
                        <div class="col">
                            <div class="toggle mb-0">
                                <div class="toggle-header">
                                    <div class="toggle-icon">
                                        <i class="toggle-closed icon-line-plus"></i>
                                        <i class="toggle-open icon-line-minus"></i>
                                    </div>
                                    <div class="toggle-title">
                                        Youtube <small>(Hosting Video Platform by Google Inc.)</small>
                                    </div>
                                </div>
                                <div class="toggle-content ps-4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-end">
                            <div class="switch d-inline-block">
                                <input id="switch-toggle-youtube" class="switch-toggle switch-toggle-flat switch-flat-mini" type="checkbox" checked data-cookie-name="canvas-gdpr-youtube">
                                <label class="m-0" for="switch-toggle-youtube"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0 py-4">
                    <div class="row">
                        <div class="col">
                            <div class="toggle mb-0">
                                <div class="toggle-header">
                                    <div class="toggle-icon">
                                        <i class="toggle-closed icon-line-plus"></i>
                                        <i class="toggle-open icon-line-minus"></i>
                                    </div>
                                    <div class="toggle-title">
                                        Google Ads <small>(Advertisement Delivery Network)</small>
                                    </div>
                                </div>
                                <div class="toggle-content ps-4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-end">
                            <div class="switch d-inline-block">
                                <input id="switch-toggle-googleads" class="switch-toggle switch-toggle-flat switch-flat-mini" type="checkbox" checked data-cookie-name="canvas-gdpr-googleads">
                                <label class="m-0" for="switch-toggle-googleads"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item px-0 py-4">
                    <div class="row">
                        <div class="col">
                            <div class="toggle mb-0">
                                <div class="toggle-header">
                                    <div class="toggle-icon">
                                        <i class="toggle-closed icon-line-plus"></i>
                                        <i class="toggle-open icon-line-minus"></i>
                                    </div>
                                    <div class="toggle-title">
                                        Facebook &amp; Instagram <small>(Social Media)</small>
                                    </div>
                                </div>
                                <div class="toggle-content ps-4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-end">
                            <div class="switch d-inline-block">
                                <input id="switch-toggle-facebook" class="switch-toggle switch-toggle-flat switch-flat-mini" type="checkbox" data-cookie-name="canvas-gdpr-facebook">
                                <label class="m-0" for="switch-toggle-facebook"></label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section text-center p-4 m-0 border-top">
            <a href="#" class="btn btn-primary gdpr-save-cookies">Salvar Preferências</a><br>
            <a href="{% url 'politica_privacidade' %}" class="btn btn-link text-muted"><small>Política de Privacidade</small></a>
        </div>
    </div>
</div>