{% load static %}
				<!-- Form Section
				============================================= 
				<div class="section m-0 position-relative" style="background: url('{% static 'demos/seo/images/sections/1.jpg' %}') no-repeat center center; background-size: cover; padding: 100px 0;">
					<div class="container">
						<div class="row justify-content-between align-items-center">

							<div class="col-md-4">
								<div class="heading-block border-bottom-0 bottommargin-sm">
									<div class="badge rounded-pill badge-default">Contato</div>
									<h3 class="nott ls0">Converse com um de nossos especialistas</h3>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore voluptatem assumenda quae possimus sunt dignissimos tempora officia.</p>
							</div>

							<div class="col-lg-3 col-md-4">
								<div class="card shadow-sm">
									<div class="card-body">
										<h4 class="mb-3">Fale conosco</h4>
										<div class="form-widget">
											<div class="position-absolute top-0 start-50 translate-middle" id="alerta">
											</div>
											<form class="row mb-0" id="template-contactform" name="template-contactform" action="" method="post">
												{% csrf_token %}
												<div class="col-12 form-group mb-3">
													<label for="form_nome">Nome:*</label>
													<input type="text" id="form_nome" name="form_nome" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-3">
													<label for="form_email">Endereço de Email:*</label>
													<input type="email" id="form_email" name="form_email" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group mb-4">
													<label for="form_empresa">Empresa:*</label>
													<input type="text" id="form_empresa" name="form_empresa" class="form-control input-sm required" value="">
												</div>
												<div class="col-12 form-group d-none">
													<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
												</div>
												<div class="col-12 form-group mb-0">
													<button class="button button-rounded w-100 nott ls0 m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit" onclick="manda_comentario()">Enviar Agora</button>
												</div>

												<input type="hidden" name="prefix" value="template-contactform-">
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4 mt-5 mt-md-0 center">
								<a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" data-lightbox="iframe" class="play-icon shadow"><i class="icon-play"></i></a>
							</div>

						</div>

					</div>
				</div>-->
				
				<div class="section bg-transparent clearfix" style="padding: 80px 0">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-lg-5 col-md-6 mt-0 mt-md-4">
								<div class="feature-box fbox-plain fbox-sm">
									<div class="fbox-icon">
										<i class="icon-line2-magic-wand"></i>
									</div>
									<div class="fbox-content">
										<h3>Easily Manage Your Works</h3>
										<p>Quickly impact virtual testing procedures vis-a-vis viral e-commerce. Completely myocardinate seamless.</p>
									</div>
								</div>

								<div class="feature-box fbox-plain fbox-sm">
									<div class="fbox-icon">
										<i class="icon-line2-clock"></i>
									</div>
									<div class="fbox-content">
										<h3>24x7 Access</h3>
										<p>Authoritatively create one-to-one relationships for B2B "outside the box" thinking. Dramatically seize.</p>
									</div>
								</div>

								<div class="feature-box fbox-plain fbox-sm mb-0">
									<div class="fbox-icon">
										<i class="icon-line2-speech"></i>
									</div>
									<div class="fbox-content">
										<h3>Great Community</h3>
										<p>Proactively evolve user-centric paradigms rather than exceptional core. Authoritatively brand unique.</p>
									</div>
								</div>
							</div>

							<div class="col-lg-5 col-md-6 mt-5 mt-md-0">
								<h2 class="ls0">Get One Day Free Trial.</h2>
								<p class="text-muted mb-5" style="font-size: 18px;">Enthusiastically embrace diverse e-markets after sustainable applications. Collaboratively impact intermandated systems vis-a-vis progressive information.</p>
								<div class="d-flex">
									<a href="{% url 'sobre' %}" class="button button-rounded button-xlarge d-block flex-fill m-0 center nott fw-semibold ls0">Saiba Mais</a>
									<a href="{% url 'contato' %}" class="button button-rounded button-xlarge d-block flex-fill button-border m-0 ms-3 center nott fw-semibold ls0">Entre em Contato</a>
								</div>
							</div>
						</div>
					</div>
				</div>
<!--
				<script type="text/javascript">
					function manda_comentario() {
						$.post(
							'/mensagem/',{
								reply: false,
								csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
								nome: $('input[name="form_nome"]').val(),
								email: $('input[name="form_email"]').val(),
								empresa: $('input[name="form_empresa"]').val()
							},
							function (data) {
								var divMae = document.getElementById('alerta')
								var wrapper = document.createElement('div')
								if (data == 'Aguarde nosso contato!'){
									document.getElementById("template-contactform").reset();
									wrapper.innerHTML = '<div class="alert alert-success alert-dismissible" role="alert"><i class="icon-thumbs-up"></i> ' + data + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
									divMae.append(wrapper)
								} else {
									wrapper.innerHTML = '<div class="alert alert-danger alert-dismissible" role="alert"><i class="icon-remove"></i> ' + data + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
								  	divMae.append(wrapper)
								}
							}
						);

					}
				</script>-->