{% load static %}

				<!-- Features
				============================================= -->
				<div class="section mb-0">
					<div class="container">
						<div class="heading-block border-bottom-0 center">
							<div class="badge rounded-pill badge-default">Serviços</div>
							<h3 class="nott ls0">Outros Serviços</h3>
						</div>
						<div class="row col-mb-30 align-content-stretch">

							<!-- <div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/analysis.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Análise Estratégica</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div> -->

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/seo.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Gestão de Tráfego</h3>
												<p class="text-smaller">Aumento do fluxo de pessoas para o seu negócio</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Facebook Ads</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Google Ads</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Remarketing</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/analysis.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">SEO</h3>
												<p class="text-smaller">Maior relevância e rankeamento do seu site no Google</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Tráfego por pesquisa</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Pesquisa de concorrentes</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Otimização de palavras chave</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/experience.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Criativos</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div> -->

							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/social.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Criação de Website</h3>
												<p class="text-smaller">Sites modernos e responsivos para seu negócio</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Sites institucionais</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Sistemas WEB</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Landing Pages</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/experience.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Google Meu Negócio</h3>
												<p class="text-smaller">Configuração do Google Meu Negócio para que sua empresa se destaque em meio aos concorrentes</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Presença online</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Informações atualizadas</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Interação com clientes</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-12 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/ads.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Identidade Visual & Logomarca</h3>
												<p class="text-smaller">Criação de identidade visual pensada na essência do seu negócio</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Marca nova</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Redesign</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Rebrand</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="col-lg-4 col-md-6 d-flex">
								<div class="card">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-icon mb-3">
												<img src="{% static 'demos/seo/images/icons/content_marketing.svg' %}" alt="Feature Icon" class="bg-transparent rounded-0">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Posts</h3>
												<p class="text-smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</div>
							</div> -->

						</div>
					</div>
				</div>