{% load static %}
<!-- Testimonials
============================================= -->
<div class="section mt-0" style="background: url('{% static 'demos/seo/images/sections/3.jpg' %}') no-repeat top center; background-size: cover; padding: 80px 0 70px;">
    <div class="container">
        <div class="heading-block border-bottom-0 center">
            <div class="badge rounded-pill badge-default">Testemunhos</div>
            <h3 class="nott ls0">O que nossos clientes dizem</h3>
        </div>

        
        <div class="fslider testimonial testimonial-full bottommargin" data-animation="fade" data-arrows="false">
            <div class="flexslider">
                <div class="slider-wrap">
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="{% static 'demos/pet/images/testimonials/1.jpg' %}" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                            <div class="testi-meta">
                                Steve Jobs
                                <span>Apple Inc.</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="{% static 'demos/pet/images/testimonials/2.jpg' %}" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                            <div class="testi-meta">
                                Collis Ta'eed
                                <span>Envato Inc.</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="{% static 'demos/pet/images/testimonials/3.jpg' %}" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <div class="testi-meta">
                                John Doe
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
