{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

        {% include 'partials/menu.html' %}
		<!-- Page Title
		============================================= -->

		<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header" style="background-image: linear-gradient(to top, rgba(73,80,87,0.5), #39384D), url('{% static 'demos/seo/images/services/sobre-top.jpg' %}'); background-size: cover; padding: 120px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
			<div id="particles-line"></div>

			<div class="container clearfix mt-4">
				<!-- <div class="badge rounded-pill border border-light text-light">Sobre nós</div>
				<h1>O Que Fazemos</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Sobre</li>
				</ol> -->
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap py-0 overflow-visible">

				<div class="card mx-auto mw-md border-0 shadow rounded-4 card-seo-about mb-5 mb-lg-0">
					<div class="card-body p-5">
						<div class="row align-items-center">
							<div class="center">
								<div class="heading-block border-bottom-0 mb-0">
									<div class="badge rounded-pill badge-default">Quem somos</div>
									<h3 class="nott ls0 mb-3">Prazer, somos a Simpli Global</h3>
								</div>
								<div class="col-md-10 offset-md-1">
									<div class="heading-block border-bottom-0 mb-0">
										<p>Somos uma empresa que tem como objetivo principal melhorar a presença digital de nossos clientes. Entendemos que hoje em dia é indispensável, para negócios se manterem sustentáveis, ter uma presença digital muito bem clara e estruturada.</p>
									</div>
								</div>
								<div class="col-md-10 offset-md-1">
									<div class="heading-block border-bottom-0 mb-0">
										<p>E com esse intuito de ajudar negócios de turismo, a Simpli nasceu.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section m-0" style="background: url('{% static 'demos/seo/images/sections/5.jpg' %}') no-repeat center center; background-size: cover;padding: 80px 0;">
					<div class="mx-auto center px-5" style="max-width: 900px;">
						<h2 class="mb-0 fw-light ls1">Nossa maior meta é ver nossos clientes realizados com os resultados obtidos por meio de nossos serviços.</h2>
					</div>
				</div>
				
				<!-- Features
				============================================= -->
				<div class="section bg-transparent m-0 py-5">
					<div class="container clearfix px-5">

						<div class="row">
							<div class="col-lg-6">
								<p>Entendemos a importância de se ter uma comunicação clara e transparente, e prezamos muito por isso com a seleção de nossos clientes também. Gostamos de trabalhar com clientes que tenham objetivos de crescimento.</p>
							</div>
	
							<div class="col-lg-6">
								<p class="mb-3">Selecionamos muito bem os negócios com quem vamos trabalhar.</p>
								<p>Acreditamos muito no potencial de crescimento que existe em um trabalho bem feito. Esse é o nosso combustível.</p>
							</div>
						</div>
	

					</div>
				</div>

				<!-- Features
				=============================================
				<div class="section bg-transparent m-0 pt-3 pb-5">
					<div class="container clearfix px-5">

						<div class="row">

							<div class="col-lg-6 col-md-6 bottommargin clearfix">
								<div class="fancy-title title-border">
									<h4>Especialidadess</h4>
								</div>
								<ul class="skills">
									<li data-percent="80">
										<span>Análise</span>
										<div class="progress">
											<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
										</div>
									</li>
									<li data-percent="60">
										<span>Gestão</span>
										<div class="progress">
											<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
										</div>
									</li>
									<li data-percent="90">
										<span>Criativos</span>
										<div class="progress">
											<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
										</div>
									</li>
									<li data-percent="70">
										<span>Desenvolvimento</span>
										<div class="progress">
											<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
										</div>
									</li>
								</ul>
							</div>
	
							<div class="col-lg-6 col-md-6 bottommargin clearfix">
								<div class="fancy-title title-border">
									<h4>Instagram</h4>
								</div>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-container grid-4 customjs" data-user="blog.canvastemplate"></div>
							</div>
							
						</div>
	

					</div>
				</div> -->


				<!-- Features
				============================================= -->
				<div class="section bg-transparent m-0 pt-5 pb-0">
					<div class="container mw-md">

						<div class="heading-block border-bottom-0 center mx-auto" style="max-width: 550px">
							<div class="badge rounded-pill badge-default">Serviços</div>
							<h3 class="nott ls0 mb-3">O Que Fazemos</h3>
						</div>


					</div>
					<div class="container clearfix px-5">

						<div class="row col-mb-50 mb-0">
	
							<div class="col-lg-4">
	
								<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
									<h4>Nosso <span>Objetivo</span>.</h4>
								</div>
	
								<p class="mb-2">Ajudar negócios de turismo a melhorar seus resultados e atingir suas metas utilizando recursos do meio digital, como Google e Facebook, de forma estratégica para fazer com que mais pessoas conheçam seu negócio.</p>
							</div>
	
							<div class="col-lg-4">
	
								<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
									<h4>Nossa <span>Visão</span>.</h4>
								</div>
	
								<p class="mb-2">Tendo em vista a revolução digital que estamos presenciando, é impossível se posicionar hoje em dia ignorando a presença digital do seu negócio. Pensando nisso, a Simpli ajuda a alavancar negócios de turismo por meio de anúncios online, SEO, criação de Websites, etc.</p>
	
							</div>
	
							<div class="col-lg-4">
	
								<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
									<h4>Como <span>Fazemos</span>.</h4>
								</div>
	
								<p class="mb-2">Nós oferecemos um acompanhamento estratégico junto aos nossos clientes para encontrar as melhores soluções para cada caso específico. Não utilizamos métodos prontos, pois entendemos que cada negócio tem suas demandas particulares. Elaboramos planos de ação específicos e direcionados especialmente para cada caso.</p>
							</div>
	
						</div>
	
					</div>
				</div>

				<!-- Features
				============================================= -->
				<div class="section bg-transparent mt-0 pt-0">
					<div class="container">
						<div class="row col-mb-30 align-content-stretch">

							<!-- <div class="col-lg-4 col-md-6 d-flex">
								<a href="{% url 'analise_empresa' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/experience.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Análise Estratégica</h3>
												<p class="text-smaller">Objectively fashion highly efficient testing off proced through sustainable channels.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Unlimited Pages</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> UI/UX Design</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Speed Optimized</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Graphics Banner</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Advertisement</li>
											</ul>
										</div>
									</div>
								</a>
							</div> -->

							<div class="col-lg-4 col-md-6 d-flex">
								<a href="{% url 'gestao_trafego' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/content_marketing-pb.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Gestão de Tráfego</h3>
												<p class="text-smaller">Aumento do fluxo de pessoas para o seu negócio.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Facebook Ads</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Google Ads</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Remarketing</li>
											</ul>
										</div>
									</div>
								</a>
							</div>

							<div class="col-lg-4 col-md-6 d-flex">
								<a href="{% url 'otimizacao_seo' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/seo-pb.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">SEO</h3>
												<p class="text-smaller">Maior relevância e rankeamento do seu site no Google.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Tráfego por pesquisa</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Pesquisa de concorrentes</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Otimização de palavras chave</li>
											</ul>
										</div>
									</div>
								</a>
							</div>

							<!-- <div class="col-lg-4 col-md-6 d-flex">
								<a href="{% url 'criativos' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/seo.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Criativos</h3>
												<p class="text-smaller">Objectively fashion highly efficient testing off proced through sustainable channels.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Google Analytics</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Page Analytics</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Page Speed</li>
											</ul>
										</div>
									</div>
								</a>
							</div> -->

							<div class="col-lg-4 col-md-6 d-flex">
								<a href="{% url 'desenvolvimento_web' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/ads-pb.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Criação de Website</h3>
												<p class="text-smaller">Sites modernos e responsivos para seu negócio.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Sites institucionais</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Sistemas WEB</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Landing Pages</li>
											</ul>
										</div>
									</div>
								</a>
							</div>

							<div class="col-lg-6 col-md-6 d-flex">
								<a href="{% url 'google_meunegocio' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/experience-pb.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Google Meu Negócio</h3>
												<p class="text-smaller">Configuração do Google Meu Negócio para que sua empresa se destaque em meio aos concorrentes.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Presença online</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Informações atualizadas</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Interação com clientes</li>
											</ul>
										</div>
									</div>
								</a>
							</div>

							<div class="col-lg-6 col-md-12 d-flex">
								<a href="{% url 'identidade_visual' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/criativos-pb.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Identidade Visual & Logomarca</h3>
												<p class="text-smaller">Criação de identidade visual pensada na essência do seu negócio.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Marca nova</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Redesign</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Rebrand</li>
											</ul>
										</div>
									</div>
								</a>
							</div>

							<!-- <div class="col-lg-4 col-md-6 d-flex">
								<a href="{% url 'posts' %}" class="card h-shadow h-translate-y-sm all-ts">
									<div class="card-body p-5">
										<div class="feature-box flex-column">
											<div class="fbox-image mb-5 text-center">
												<img height="150" src="{% static 'demos/seo/images/services/social.svg' %}" alt="Feature Icon">
											</div>
											<div class="fbox-content">
												<h3 class="nott ls0 text-larger">Posts</h3>
												<p class="text-smaller">Objectively fashion highly efficient testing off proced through sustainable channels.</p>
											</div>
											<ul class="iconlist ms-3 mt-4 mb-0">
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Increase Profits</li>
												<li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> Create a Story</li>
												<li class="text-muted"><i class="icon-check text-smaller color"></i> Create a Dialogue</li>
											</ul>
										</div>
									</div>
								</a>
							</div> -->

						</div>
					</div>
				</div>

                {% include 'partials/promo-contato.html' %}

			</div>
		</section><!-- #content end -->

        {% include 'partials/footer.html' %}

	</div><!-- #wrapper end -->
{% endblock %}